h1 {
    text-align: center;
    position: sticky;
    top: 0;
    color: green;
    background-color: #caa486;
    margin: 0px;
    padding-top: 17px;
    padding-bottom: 17px;
    opacity: 0.85;
    z-index: 1;
}